* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

/* Global Settings */
:root {
    --primary-color: #1A1924;
    --secondary-color: #282843;

    --base-color-white: #fff;
    --base-color-black: #000;
    
    --state-color-online: #00B37E;
    --state-color-offline: ;
    
    --chat-balloon-default-color: #07847E;
    --chat-baloon-complementary-color: #633BBC;

    --bg-default-color: var(--primary-color);
    --font-default-color: #E1E1E6;
    

    --heading-default-size: 1rem;
    --heading-default-weight: 700;
    
    --subheading-default-size: ;
    --subheading-default-weight: ;
    
    --p-default-size: 0.75rem;
    --p-default-weight: 400;


    --section-external-default-spacing: 1.875rem;
    --section-internal-default-spacing: 0.625rem;

    --min-padding: 0.875rem;
    --default-padding: 1.5rem;
    --max-padding: 2rem;

    
    --mobile-responsive-breakpoint: 375px;
    --tablet-responsive-breakpoint: 768px;
    --desktop-responsive-breakpoint: 1024px;
}

body {
    background-color: var(--primary-color);
}

.app-container {
    height: 100vh;
    padding: var(--default-padding) var(--max-padding);
    display: grid;
    gap: var(--section-external-default-spacing);
    grid-template-rows: auto 1fr auto;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.625rem;

    color: var(--font-default-color);
}
header section {
    width: 100%;

    display: grid;
    grid-template-columns: 3rem auto 3rem;
    justify-items: start;
    align-items: center;
    gap: 1rem;
}
header section img {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
}
header section div h1{
    font-size: var(--heading-default-size);
    font-weight: var(--heading-default-weight);
}
header p {
    font-size: var(--p-default-size);
    font-weight: var(--p-default-weight);
}
header section div p{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;

    color: var(--state-color-online);
}
header section div p::before{
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 2rem;
    background-color: var(--state-color-online);
}
header section span{
    justify-self: end;
}


main {
    display: flex;
    flex-direction: column;
    gap: var(--section-external-default-spacing);

    overflow-y: scroll;
}
main .message-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    color: var(--font-default-color);
}
main .message-container.internal {
    align-items: flex-end;
}
main .message-container.external {
    align-items: flex-start;
}
main .message-container p {
    width: auto;
    max-width: 50%;

    font-size: var(--p-default-size);
    font-weight: var(--p-default-weight);
}
main .message-container.internal .message-details {
    text-align: end;
}
main .message-container .message-baloon {
    padding: var(--min-padding);
}
main .message-container.internal .message-baloon{
    background-color: var(--chat-balloon-default-color);
    border-radius: 0.5rem 0.5rem 0 0.5rem;
}
main .message-container.external .message-baloon{
    width: auto;
    background-color: var(--chat-baloon-complementary-color);
    border-radius: 0 0.5rem 0.5rem 0.5rem;
} 


footer {
    padding-top: var(--default-padding);

    /* position: fixed;
    bottom: 0;
    left: var(--max-padding);
    right: var(--max-padding); */

    display: flex;
    align-items: center;
}

footer label {
    background-color: var(--secondary-color);
    border-radius: 999rem;

    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: var(--min-padding) var(--default-padding);
}

footer label:focus-within {
    border: 1px solid var(--base-color-white);
}

footer label input {
    flex: 1;

    outline: 0;
    border: none;
    background-color: transparent;
}

footer label input::placeholder {
    color: var(--font-default-color);
    font-size: var(--p-default-size);
    font-weight: var(--p-default-weight);
}

footer label button {
    color: var(--font-default-color);

    border: none;
    background-color: transparent;
}

.material-icons-round {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
  } 